<!-- Footer -->
<footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4">  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
            Copyright. Todos los derechos reservados &copy; 2023 
        </p>
      </section>
      <!-- Section: Text -->
      <hr class="border border-primary border-1 opacity-75 pl-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><a href="#" class="link-secondary text-white">Follow</a></h5>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><a href="#" class="link-secondary text-white">Información legal</a></h5>
  
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><a href="#" class="link-secondary text-white">Contacto</a></h5>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><a href="#" class="link-secondary text-white">Politica de privacidad</a></h5>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  </footer>
