
.imagen img {
    border-radius: 50%;
}

.datos button {
    border-radius: 0px;
    padding: 20px;
    width: 150px;
}

.container {
    padding-bottom: 500px;
}

@media (min-width: 1200px) {
    .imagen {
        padding-right: 80px;
    }
    .datos {
        margin-left: 70px;
    }
}
@media (max-width: 1050px) {
    .org-info {
        display: flex;
        flex-direction: column;
    }
}