    <div class="card item bg-light">
        <img class="card-img-top" [src]="userRetrieve?.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{userRetrieve?.first_name + " " + userRetrieve.last_name}}</h5>
        </div>
        <ul class="d-flex flex-lg-row justify-content-around p-2">
          <li class="list-group-item border-bottom border-5 border-success">
            <i [routerLink]="['/user',userRetrieve?._id]" class="pointer fa-sharp fa-solid fa-eye"></i>
          </li>
          <li class="list-group-item border-bottom border-5 border-info">
              <i [routerLink]="['/updateuser',userRetrieve?._id]" class="pointer fa-solid fa-user-pen"></i>
          </li>
          <li class="list-group-item border-bottom border-5 border-danger">
            <i (click)="modalDelete(userRetrieve?._id)" class="pointer fa-sharp fa-solid fa-trash"></i>
          </li>
        </ul>
        <div class="card-body border-top">
          <a [routerLink]="['/user',userRetrieve._id]" class="card-link">{{userRetrieve.username}}</a>
        </div>
      </div>
